<<<<<<< HEAD
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 16, 2026, 3:06:23 PM
    Author     : admin
*/

.Container {
    -fx-background-color: #121212;
    -fx-alignment: CENTER;
    -fx-spacing: 15;
    -fx-padding: 10;
=======
.Container {
    -fx-background-color: #121212;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
    -fx-font-color: #FFFFFF;
    -fx-font-family: "Verdana";
>>>>>>> 20aed3d3b52414984e79a890dae667f50faff958
}

.Subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
<<<<<<< HEAD
    -fx-fill: #FFFFFF;
=======
>>>>>>> 20aed3d3b52414984e79a890dae667f50faff958
    -fx-stroke-width: 3;
    -fx-stroke: gold;
}

.Button {
    -fx-background-color: #333333;
<<<<<<< HEAD
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 350;
    -fx-padding: 10;
    -fx-font-size: 16;
}
=======
    -fx-pref-width: 200;
    -fx-padding: 10;
}

>>>>>>> 20aed3d3b52414984e79a890dae667f50faff958
